*{  
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}


.navbar{
    background-color: #F9FFCA;
    height: 3rem;
    display: flex;
}

.navLeft{
    width: 55%;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

.navCenter{
    width: 40%;
    display: flex;
    padding-top: 1rem;
}

.btnItem{
    width: 100px;
}

a:hover{
    font-weight:bold;
}


.navRight{
    width: 5%;
    padding-top: 1rem;
}


.content{
    background-color:#CAD1FF;
    padding-bottom: 14rem;
}

.title{
    text-align: center;
    width: 100%;
    font-size: 25px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.field{
    width: 30%;
    /* background-color: red; */
    display: flex;
}


label{
    /* background-color: blue; */
    width: 120px;
}

input[type=text], input[type=date],input[type=email],input[type=password],input[type=number],textarea{
    width: 222px;
}

input[type=text], input[type=date],input[type=email],input[type=password],input[type=number]{
    height: 25px;
}
textarea{
    resize: none;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top:1rem ;
    padding-right: 4.5rem;
}

.submit{
    background-color: #ADF59F;
    margin-left: 2rem;
    border-radius: 3px;
    width: 150px;
    height: 25px;
}

.submit:hover{
    background-color: #76f75c;
    border: 2px solid #4bad37;
}

.errorMsg{
    color: red;
    background-color: white;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 4.5rem;
    text-align: left;
    padding-left: 1rem;
}

#kembali{
    background-color: #FDD7AC;
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 1px;
    border: 1px solid black;
    padding-top: 0.1rem;
}

#kembali:hover{
    background-color: #fab566;
    border: 2px solid #b16a1a;
}

input[type=submit]{
    border-radius: 1px;
    border: 1px solid black;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container{
    width: 120px;
    height: 130px;
    /* background-color: red; */
    
}

.foto{
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    padding-bottom: 1rem;
}
