*{  
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    background-color: #F9FFCA;
    height: 3rem;
    display: flex;
}

.navLeft{
    width: 55%;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

.navCenter{
    width: 40%;
    display: flex;
    padding-top: 1rem;
}

.btnItem{
    width: 100px;
}

a:hover{
    font-weight:bold;
}

.navRight{
    width: 5%;
    padding-top: 1rem;
}

.content{
    background-color:#CAD1FF;
    height: 34.5rem;
    text-align: center;
    padding-top: 16rem;
    font-size: 18pt;
    
}